.project__data {

    .project__header {
        display: flex;
        justify-content: space-between;

        margin-right: 4rem;
        margin-bottom: 1rem;

        .box{
            display: flex;

            .project__image {
                display: flex;
                width: 100px;
                height: 100px;
                background-image: cover;

                margin-right: var(--mb-5);
                img {
                    border-radius: 10%;
                }
            }

            .project__title {
                font-size: var(--h1-font-size);
            }

            .project__subtitle {
                font-size: var(--h3-font-size);
            }
        }

        .project__deploy a{
            text-decoration: underline;
        }

    }
}