@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

@media screen and (min-width: 768px){
    :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.section {
    padding: 4rem 0 2rem;

    .section__title {
        font-size: var(--h1-font-size);
        color: var(--text-color);
        margin-bottom: var(--mb-3);
        text-align: center;
        border-bottom: 1px solid var(--text-color);
    }

    .section__subtitle {
        display: block;
        font-size: var(--small-font-size);
        color: var(--first-color-darken); 
        text-align: center;
        font-weight: var(--font-bold);
    }
}

.button {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    transition: .3s;

    &:hover {
        background-color: var(--first-color-dark);
    }
}

.button__light {
    background-color: var(--first-color-lighten);
    color: var(--first-color);

    &:hover{
        color: var(--first-color-lighten);
    }
}

.link{
    text-decoration: underline;
    cursor: pointer;
}

.app {
    max-width: 1190px;
}

