@media screen and (min-width: 768px) {
    .app {
        margin-left: 23rem;
    }

    .home__button {
        width: initial;
    }

    .nav__menu {
        width: var(--nav-width);
        left: 0;
    }

    .nav__close, .nav__toggle {
        display: none;
    }

    .footer {
        background: none;
    }

    .footer__container {
        background-color: var(--first-color-darken);
        padding: 3rem 0;
        border-radius: .5rem;
    }
}

