.learn__data {
    .learn__header {
        display: flex;
        justify-content: space-between;

        margin: 0 4rem 1rem 0;

        &:nth-child( n + 2 ) {
            border-top: 1px solid var(--text-color);
        }

        padding-top: 1.5rem;


        .box{
            display: flex;

            .learn__image {
                display: flex;
                width: 100px;
                height: 100px;

                margin-right: var(--mb-5);
                img {
                    border-radius: 10%;
                }
            }

            .learn__title {
                font-size: var(--h1-font-size);
            }

            .learn__subtitle {
                font-size: var(--h3-font-size);
            }
        }
    }

    .learn__date{
        font-size: var(--h2-font-size);
    }

    .learn__list{
        margin-top: 2rem;
        font-size: var(--h2-font-size);

        .learn__list-item span{
            font-weight: var(--font-bold);
            margin-left: .5rem;
        }
    }

    &:nth-child( n + 2 ) {
        margin-top: 7rem;
    }
}
