.learn__data {
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 5rem;

    .learn__header {
        display: flex;
        justify-content: space-between;

        margin: 0 4rem 1rem 0;


        padding-top: 1.5rem;

        .box{
            display: flex;

            .learn__image {
                display: flex;
                width: 100px;
                height: 100px;

                margin-right: var(--mb-5);
                img {
                    border-radius: 10%;
                }
            }

            .learn__title {
                font-size: var(--h1-font-size);
            }

            .learn__subtitle {
                font-size: var(--h3-font-size);
            }
        }
    }

    .learn__date{
        font-size: var(--h2-font-size);
    }

    .learn__list{
        margin-top: 2rem;
        font-size: var(--h2-font-size);

        .learn__list-item {
            .learn__stacks {
                display: inline-flex;
                .learn__stacks-item::after {
                    content: ',';
                    margin-right: 10px;
                }

            }

            .learn__links-item::before {
                    content: '';
                    margin-right: 8px;
            }
            span{
                font-weight: var(--font-bold);
                margin-left: .5rem;
            }
        }
    }

    &:nth-child( n + 2 ) {
        margin-top: 7rem;
    }
}
