.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: space-around;
    padding: 1rem 2rem 0 2rem;
    background-color: var(--color-bg);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);

    .nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav__logo {
            display: flex;
            font-size: var(--h1-font-size);
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 1rem;
        }

        .nav__toggle--theme {
            color: var(--text-color);
            font-size: 1.5rem;
            margin-bottom: 10px;
            padding-right: 1.5rem;
            cursor: pointer;
        }
    }
}

