.sidebar__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--first-color);
    transition: .5s;

    .sidebar__list {
        margin: 0 auto;
        text-align: center;

        .sidebar__item {
            margin-bottom: var(--mb-4);

            .sidebar__profile {
                padding: .4rem;
                width: 160px;
                height: 160px;
                border-radius: 50%;
                background-color: var(--first-color-lighten);
                overflow: none;
                margin-bottom: var(--md-2);

                img {
                    border-radius: 50%;
                }
            }
        }

        .sidebar__link {
            font-size: 1.5rem;
            text-decoration: uppercase;
            color: var(--first-color-lighten);
            font-weight: var(--font-bold);
            transition: .3s;

            &:hover {
                color: var(--text-color-hover);
            }
        }
    }
}

.sidebar__toggle{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2;
}
