.nav__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--first-color);
    transition: .5s;

    .nav__list {
        margin: 0 auto;
        .nav__item {
            margin-bottom: var(--mb-4);
        }

        .nav__link {
            font-size: 1.5rem;
            text-decoration: uppercase;
            color: var(--first-color-lighten);
            font-weight: var(--font-bold);
            transition: .3s;

            &:hover {
                color: var(--text-color);
            }
        }
    }
}

.nav__toggle{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2;
}
